@import url('https://fonts.googleapis.com/css?family=Archivo+Black|PT+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9D7DC9;
  box-sizing: border-box;
}

button {
  position: relative;
}

button:after,
button:before {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  bottom: -10px;
  right: -10px;
}



.anime-banner {
  width: 100%;
  height: 266px;
  background: url('../assets/animebanner.jpg');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.82;
}

span.subscript {
  font-size: 11px;
  margin-bottom: 0px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

/* Nightcore mode button */
.nightcorepitch-body {
  min-width: 250px;
  max-width: 250px;
  max-height: 470px;
  padding-bottom: 0px;
  background-color: #9D7DC9;
}

.nightcore-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: #C686DE;
}


.nightcore-btn button {
  width: 190px;
  color: white;
  padding: 20px 5px;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  background-color: #D8A6F9;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
  transition: 800ms;
}

.nightcore-btn button:hover {
  background-color: rgb(131, 121, 207);
}

/* Semitone label */
.pitch-semitone_state {
  font-family: "Archivo Black", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 0;
  color: white;
}

/* Buttons */
.pitch-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 1em 0px 1em;
  background: #9D7DC9;
}

.pitch-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  padding: 10px;
  color: white;
  font-weight: 800;
  font-size: 15px;
  border: none;
  border-radius: 60%;
  transition: 700ms;

}

.pitch-buttons button:nth-of-type(1) {
  background: #E8A9F5;
  box-shadow: 0px 1px 3px hsla(0%, 0%, 0%, 0.2)
}

.pitch-buttons button:nth-of-type(2) {
  background: #544282;
  box-shadow: 0px 1px 3px hsla(0%, 0%, 0%, 0.2)
}

.pitch-buttons button:hover {
  opacity: 0.7;
}


/* Reset */
.reset {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: white;
  font-size: 13px;
  font-weight: 500;
  margin: 0;



}

.reset button {
  color: white;
  margin: 0;
  border: none;
  border-radius: 5px;
  background: transparent;
  padding: 10px 10px;
  transition: 700ms;
}

.reset button:hover {
  background-color: #5B46AC;
}